<!-- {% extends "base.html" %} -->
{% load widget_tweaks %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-image: url("https://media4.giphy.com/media/yEXZQ5m3u3pDHZLuPi/giphy.gif?cid=ecf05e4753bxtgtpj02tvuzm5cdxcf4zk6xfgb2zv1uzuamm&ep=v1_gifs_related&rid=giphy.gif&ct=g");
        background-size: cover;
    }

    .container-fluid.login {
        width: 400px;
        padding: 4%;
        font-family: 'Roboto', sans-serif;
        display: flex;
        border-radius: 30px;
        background-color: rgba(6, 11, 41, 0.7);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 50px auto;
    }

    .login-text {
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }


    .form-control {
        width: 100%;
        height: 40px;
        background-color: #f2f2f2;
        border: none;
        padding: 0px 10px;
        margin-bottom: 5px;
        border-radius: 50px;
    }

    .ask-register {
        margin-top: 0px; /* Mengatur margin ke 20px */
        margin-bottom: 20px;
    }

    #submit-button {
        background-color: #726fff;
        border: none;
        transition: all 0.2s;
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 15px;
        padding: 10px 30px; /* Penyesuaian ukuran tombol */
        border-radius: 50px;
    }

    #submit-button:hover {
        transform: scale(1.1);
    }

    .valid-feedback {
        margin-bottom: 10px;
        margin-top: 10px;
    }

</style>


<div class ="container-fluid login">
    <div class="container-fluid" id="main-container">
        <h1 class="login-text">So, you're a wizard?</h1>
    <form method="POST" action="" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}
        <div class="row-md-4">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Username" name="username" required>
            <div class="valid-feedback"  style="color:white;">
                Looks good!
            </div>
        </div>
        <div class="row-md-4">
            <input type="password" class="form-control" id="validationCustom02" placeholder="Password" name="password" required>
            <div class="valid-feedback" style="color:white;">
              Looks good!
            </div>
        </div>
        <div class="row-md-4">
            <button class="btn btn-primary" type="submit" style="color:white;" id="submit-button">Submit</button>
        </div>
    </div>
    

        <!-- <table class="table-input">
            <tr>
                <td class="td-form"><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td><input type="password" name="password" placeholder="Password" class="form-control password"></td>
            </tr>

            <tr>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table> -->
    </form>
    <div class="container">
        {% if messages %}
        <ul>
            {% for message in messages %}
                <p style="color:white;">{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    
    <div class="ask-register">
        <p style="color:white;">Not a wizard yet?</p>
        <a style="color: #726fff" href="{% url 'main:register' %}">Be a wizard here!</a>   
    </div>
     

</div>
<script>
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>

{% endblock content %}