{% extends 'base.html' %}
{% load widget_tweaks %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    .login{
        width: 50%;
        padding: 4%;
        padding-bottom: 2%;
        margin: 50px auto;
        margin-bottom: 0px;
        font-family: 'Roboto', sans-serif;
        display: flex; /* Use flexbox for centering */
        flex-direction: column; /* Stack content vertically */
        justify-content: center; /* Center content vertically */
        align-items: center; /* Center content horizontally */
        text-align: center; /* Center text within the container */
        border-radius:30px;
        background-color: 	#222f5b;
    }
    .login-text{
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }
    .btn.login_btn{
        background-color: #ff4d4d;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .form-control{
        width: 100%;
        height: 40px;
        background-color: #f2f2f2;
        border: none;
        padding: 0px 10px;
        margin-bottom: 20px;
    }
    .td-form{
        width: 300px;
    }
    .ask-register{
        margin-top: 15%;
    }
    #submit-button{
        background-color:#946b2d;
        border: none;
        transition: all 0.2s;
    }
    #submit-button:hover{
        transform: scale(1.1);
    }

</style>

<div class ="container-fluid login">
    <div class="container-fluid" id="main-container">
        <h1 class="login-text">So, you're a wizard?</h1>
    <form method="POST" action="" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}
        <div class="row-md-4">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Username" name="username" required>
            <div class="valid-feedback"  style="color:white;">
                Looks good!
            </div>
        </div>
        <div class="row-md-4">
            <input type="password" class="form-control" id="validationCustom02" placeholder="Password" name="password" required>
            <div class="valid-feedback" style="color:white;">
              Looks good!
            </div>
        </div>
        <div class="row-md-4">
            <button class="btn btn-primary" type="submit" id="submit-button">Submit</button>
        </div>
    </div>
    

        <!-- <table class="table-input">
            <tr>
                <td class="td-form"><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td><input type="password" name="password" placeholder="Password" class="form-control password"></td>
            </tr>

            <tr>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table> -->
    </form>
    <div class="container">
        {% if messages %}
        <ul>
            {% for message in messages %}
                <p style="color:white;">{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    
    <div class="ask-register">
        <p style="color:white;">Not a wizard yet?</p>
        <a href="{% url 'main:register' %}">Be a wizard here!</a>   
    </div>
     

</div>
<script>
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>

{% endblock content %}