{% extends 'base.html' %}

{% block meta %}
<title>Magic Quiz</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
{% endblock meta %}

{% block content %}
<style>
    body {
        background-color: #f2f2f2;
        background-image: url('https://images.alphacoders.com/132/1326370.png');
        font-family: 'Poppins', sans-serif;
    }

    #question-container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        margin: 100px auto;
        width: 60%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #333333;
    }

    #quiz-form {
        margin: 20px 0;
    }

    input[type="radio"] {
        margin: 10px 0;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #45a049;
    }

    #result {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        color: #333333;
    }

    @media only screen and (max-width: 600px) {
        #question-container {
            width: 90%;
        }

        label {
            font-size: 16px;
        }

        button {
            padding: 8px 16px;
            font-size: 14px;
        }
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
</head>

<body data-user-points="{{ points }}">
    <div id="question-container">
        <h2 id="question"></h2>
        <form id="quiz-form">
            {% csrf_token %}
            {{ form }}
        </form>
        <button onclick="checkAnswer()">Next</button>
        {% if points > 0 %}
        <button onclick="redirectToResults()" style="float: right;">Skip to Results</button>
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        const userPoints = parseInt(document.body.getAttribute('data-user-points'));

        function redirectToResults() {
            window.location.assign("{% url 'main:quiz_results' %}");
        }

        let totalPoints = 0;
        let currentQuestion = 0;

        const questions = [
            {
                question: "What genre do you prefer to read?",
                options: [
                    { option: "Mystery", value: 1 },
                    { option: "Fantasy", value: 3 },
                    { option: "Biography", value: 7 },
                    { option: "Science Fiction", value: 10 }
                ]
            },
            {
                question: "Do you prefer standalone novels or book series?",
                options: [
                    { option: "Standalone Novels", value: 1 },
                    { option: "Book Series", value: 3 },
                    { option: "I like both equally", value: 7 },
                    { option: "I don't have a preference", value: 10 }
                ]
            },
            {
                question: "What kind of setting do you enjoy in a book?",
                options: [
                    { option: "Imaginary Worlds", value: 1 },
                    { option: "Futuristic Worlds", value: 3 },
                    { option: "Historical Settings", value: 7 },
                    { option: "Realistic Settings", value: 10 }
                ]
            },
            {
                question: "Which type of protagonist do you prefer?",
                options: [
                    { option: "Flawed and complex characters", value: 1 },
                    { option: "Heroic and virtuous characters", value: 3 },
                    { option: "Anti-heroes", value: 7 },
                    { option: "Real-life figures", value: 10 }
                ]
            },
            {
                question: "What length of book do you usually prefer?",
                options: [
                    { option: "Short Novels", value: 1 },
                    { option: "Moderate Length Novels", value: 3 },
                    { option: "Long Epics", value: 7 },
                    { option: "I don't have a preference", value: 10 }
                ]
            },
            {
                question: "Which plot element appeals to you the most?",
                options: [
                    { option: "Twists and turns", value: 1 },
                    { option: "Magic and fantastical elements", value: 3 },
                    { option: "Technological advancements", value: 7 },
                    { option: "Real-life challenges and triumphs", value: 10 }
                ]
            },
            {
                question: "What type of narrative style do you enjoy?",
                options: [
                    { option: "First-person narration", value: 1 },
                    { option: "Third-person limited narration", value: 3 },
                    { option: "Third-person omniscient narration", value: 7 },
                    { option: "I don't have a preference", value: 10 }
                ]
            },
            {
                question: "What drives you to keep reading a book?",
                options: [
                    { option: "Puzzling mysteries and clues", value: 1 },
                    { option: "Epic battles and adventures", value: 3 },
                    { option: "Exploration of futuristic ideas", value: 7 },
                    { option: "Compelling life stories", value: 10 }
                ]
            },
            {
                question: "What emotional impact do you prefer from a book?",
                options: [
                    { option: "Suspense and thrill", value: 1 },
                    { option: "Wonder and awe", value: 3 },
                    { option: "Excitement and adrenaline", value: 7 },
                    { option: "Reflection and empathy", value: 10 }
                ]
            },
            {
                question: "Which of the following topics interests you the most?",
                options: [
                    { option: "Crime and investigation", value: 1 },
                    { option: "Magic and mythical creatures", value: 3 },
                    { option: "Space exploration and futuristic technology", value: 7 },
                    { option: "Human achievements and struggles", value: 10 }
                ]
            }
        ];

        function displayQuestion() {
            if (currentQuestion < questions.length) {
                let current = questions[currentQuestion];
                document.getElementById('question').innerText = current.question;
                let options = current.options;
                let optionsHtml = '';
                for (let i = 0; i < options.length; i++) {
                    optionsHtml += `<input type="radio" name="answer" value="${options[i].value}"> ${options[i].option}<br>`;
                }
                document.getElementById('quiz-form').innerHTML = optionsHtml;
            }
        }

        function checkAnswer() {
            let selectedOption = document.querySelector('input[name="answer"]:checked');
            if (selectedOption) {
                totalPoints += parseInt(selectedOption.value);
                currentQuestion++;
                displayQuestion();
            } else {
                alert("Please select an answer!");
            }
            if (currentQuestion >= questions.length) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "main:quiz_points" %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        total_points: totalPoints
                    },
                    success: function (response) {
                        window.location.assign("{% url 'main:quiz_results' %}");
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }
        displayQuestion();
    </script>
</body>

</html>

{% endblock content %}