{% extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Thread</title>
</head>
{% block content %}
<style>
    .container-main{
        border: 2px solid rgb(43, 33, 234);
        width: 100%;
        padding: 1%;
        border-radius: 10px;
    }
    #button-reply{
        background-color: #3498db;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }
    #container-button-reply{
        width: 100%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
</style>

<body>
    <div class="container-main">
        <div class="container-profile">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'readme/wizard_logo.jpg' %}" alt="Profile Picture" width="50px" height="50px">
                </div>
                <div class="col-10">
                    <h3>{{ main_thread.person.name }}</h3>                    
                </div>
            </div>
        </div>
        <h5>Ini dari Thread dengan Judul {{ main_thread.title }}</h1>
        <p>{{ main_thread.content }}</p>
    </div>
    <div id="container-button-reply">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Make New Thread Modal
          </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="content" class="col-form-label">Content:</label>
                            <input type="text" class="form-control" id="content" name="content"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add_ajax" data-bs-dismiss="modal">Make New Threads</button>
                </div>
            </div>
        </div>
    </div>
    
      <div class="container" id="test-ajax">

      </div>

        {% for reply in thread %}
        <div class="container-main">
                <p>{{ reply.content }}</p>
        </div>
        {% endfor %}

        
</body>
<script>
    async function getThreadsReply() {
        return fetch("{% url 'main:get_wizard_json' %}").then((res) => res.json())
    }

    async function refreshPage() {
        document.getElementById("test-ajax").innerHTML = ""
        const replyThread = await getThreadsReply()

        let htmlString = ``

        replyThread.forEach((thread) => {
            htmlString += `\n
                <p1>${thread.fields.content}</p1>\n
                ` 
        })  
            document.getElementById("test-ajax").innerHTML = htmlString
    }
    refreshPage() 
    window.addEventListener("load", refreshPage);
</script>
{% endblock content %}
</html>