{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %} 
<style>
    .register{
        border: 2px solid red;
        width: 100%;
        padding: 1%;
        background-color: #6704f1;
        border-radius: 10px;
    }
    .title-choose{
        text-align: center;
        color: white;
        border: 2px solid blue;
    }
    .container-left{
        border: 2px solid green;
        width: 50%;
        padding: 1%;
        float: left;
        height: 200px;
    }
    .container-right{
        border: 2px solid yellow;
        width: 50%;
        padding: 1%;
        float: right;
        height: 200px;
    }
    .container-left-inside{
        border: 2px solid purple;
        width: 100%;
        text-align: center;
        transition: 0s;
        height: 100%;
        background-color:#4702a7;
        border-radius: 10px;
    }
    .container-left-inside:hover{
        background-image: url(https://cdn.oneesports.id/cdn-data/sites/2/2022/08/Updatee-Genshin-Impact-versi-3.0-1.jpg);
        background-size: cover;
    }
    .container-right-inside{
        border: 2px solid orange;
        width: 100%;
        text-align: center;
        transition: 0s;
        height: 100%;
        background-color:#4702a7;
        border-radius: 10px;
    }

    .container-right-inside:hover{
        background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/genshin-impact/2/24/Key_art_EN.png);
        background-size: cover;
    }
</style> 

<body>   
    <div class = "register d-flex flex-column">
        <h1 class="title-choose">Choose A Side</h1>
        <div class="container-outer">
            <div class="container-left">
                <div class="container-left-inside">
                    <h1 class="text-wizard" style="color:white">Wizard</h1>
                </div>
            </div>
            <div class="container-right">
                <div class="container-right-inside">
                    <h1 style="color:white">Muggle</h1>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
                </div>
            </div>
        </div> 
    </div>

    <!-- Modal untuk Wizard -->
    <div class="modal fade wizard" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="region" class="col-form-label">Region:</label>
                            <input type="text" class="form-control" id="region" name="region"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount_collected" class="col-form-label">Amount Collected:</label>
                            <input type="number" class="form-control" id="amount_collected" name="amount_collected"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}