{% extends 'base.html' %}
{% load widget_tweaks %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %} 
<style>
    body{
        background-image: linear-gradient(to top, #151F54, #2b2997, #726fff);
    }
    .register{
        width: 100%;
        padding: 1%;
        border-radius: 10px;
    }
    .title-choose{
        text-align: center;
        color: white;
        border-radius: 10px;
    }
    .container-left{
        width: 100%;
        padding: 1%;
        float: left;
        height: 50rem;
        transition: all 1.2s;
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .container-left:hover{
        transform: scale(1.03);
    }
    .container-right{
        width: 100%;
        padding: 1%;
        float: right;
        height: 50rem;
        transition:  all 1.2s;
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .container-right:hover{
        transform: scale(1.03);
    }
    .container-left-inside{
        width: 100%;
        text-align: center;
        transition: 0s;
        height: 100%;
        border-radius: 100px;
        margin-left: 20px;
        background-color: rgba(6, 11, 41, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
    }
    .container-left-inside:hover{
        background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/c665c571186845.5bbcda433302b.jpg);
        background-size: cover;
    }
    .container-right-inside{
        width: 100%;
        text-align: center;
        transition: 0s;
        height: 100%;
        border-radius: 100px;
        margin-left: 20px;
        background-color: rgba(6, 11, 41, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    .container-right-inside:hover{
        background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/bd91ce71186845.5bbcda4334bbb.jpg);
        background-size: cover;
    }
    .form-group{
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .form-select{
        margin-top: 1%;
        margin-bottom: 1%;
    }

    h1{
        text-align: center;
        justify-content: center;
        font-weight: bold;

    }

    h2 {
            color:#ffffff;
            font-size: 50px;
            margin-bottom: 5px;
            font-weight: bold;
        }

    .hidden {
    display: none;
}
</style> 

<body>   

    
    <div class="container-xl register d-flex flex-column">
        <h2 class="title-choose">Choose A Side</h2>
        <div class="row container-outer">
            <div class="col-12 col-lg-6">
                <div class="container-left" id="container-left">
                    <div class="container-left-inside">
                        <h1 class="text-wizard hidden" style="color:white">Wizard</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="container-right" id="container-right">
                    <div class="container-right-inside">
                        <h1 style="color:white" class="hidden">Muggle</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal untuk Muggle -->
    <div class="modal fade wizard" id="modal-wizard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" >  
                        {% csrf_token %}  
                        <table>  
                    
                            <div class="form-group">
                               {% render_field form.username type="text" class="form-control" id="exampleInputUsername" placeholder="Username" %}
                            </div>

                            <div class="form-group">
                               {% render_field form.password1 type="password" class="form-control" id="exampleInputPassword" placeholder="Password" %}
                            </div>  
                            <div class="form-group">
                                {% render_field form.password2 type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" %}
                            </div>

                            <div class="form-group">
                                {% render_field form_person.name type="name" class="form-control" id="exampleInputPassword1" placeholder="Input Name" %}
                            </div>

                            <div class="form-group">
                                {% render_field form_person.email type="email" class="form-control" id="exampleInputPassword1" placeholder="Input Email" %}
                            </div>

                            <div class="form-group">
                                {% render_field form_person.tipe type="tipe" class="form-control" id="exampleInputPassword1" placeholder="Input Tipe" Value="Wizard" %}
                            </div>

                            <div class="form-select">
                                {% render_field form_person.gender type="tipe" class="form-control" id="exampleInputPassword1" placeholder="Input Tipe" %}
                            </div>
                            
                            <tr>  
                                <td></td>
                                <td><input type="submit" name="submit" value="Daftar"/></td>  
                            </tr>   
                        </table>    
                    </form>
                    {{ form.errors }}
                    {% if messages %}  
                        <ul>   
                            {% for message in messages %}  
                                <p>{{ message }}</p>  
                            {% endfor %}  
                        </ul>   
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal untuk Wizard -->
    <div class="modal fade wizard" id="modal-muggle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" >  
                        {% csrf_token %}  
                        <table>  
                    
                            <div class="form-group">
                               {% render_field form.username type="text" class="form-control" id="exampleInputUsername" placeholder="Username" %}
                            </div>

                            <div class="form-group">
                               {% render_field form.password1 type="password" class="form-control" id="exampleInputPassword" placeholder="Password" %}
                            </div>  
                            <div class="form-group">
                                {% render_field form.password2 type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" %}
                            </div>

                            <div class="form-group">
                                {% render_field form_person.name type="name" class="form-control" id="exampleInputPassword1" placeholder="Input Name" %}
                            </div>

                            <div class="form-group">
                                {% render_field form_person.email type="email" class="form-control" id="exampleInputPassword1" placeholder="Input Email" %}
                            </div>

                            <div class="form-group">
                                {% render_field form_person.tipe type="tipe" class="form-control" id="exampleInputPassword1" placeholder="Input Tipe" value="Muggle" readonly="readonly"%}
                            </div>

                            <div class="form-select">
                                {% render_field form_person.gender type="tipe" class="form-control" id="exampleInputPassword1" placeholder="Input Tipe" %}
                            </div>
                            
                            <tr>  
                                <td></td>
                                <td><input type="submit" name="submit" value="Daftar"/></td>  
                            </tr>   
                        </table>    
                    </form>
                    {{ form.errors }}
                    {% if messages %}  
                        <ul>   
                            {% for message in messages %}  
                                <p>{{ message }}</p>  
                            {% endfor %}  
                        </ul>   
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var showModalBtn = document.getElementById("container-left");
            var myModal = new bootstrap.Modal(document.getElementById("modal-wizard"));

            showModalBtn.addEventListener("click", function () {
                myModal.show();
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            var showModalBtn = document.getElementById("container-right");
            var myModal = new bootstrap.Modal(document.getElementById("modal-muggle"));

            showModalBtn.addEventListener("click", function () {
                myModal.show();
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
        var wizardText = document.querySelector(".text-wizard");
        var muggleText = document.querySelector(".container-right-inside h1");

        var showModalBtnWizard = document.getElementById("container-left");
        var showModalBtnMuggle = document.getElementById("container-right");

        showModalBtnWizard.addEventListener("mouseover", function () {
            wizardText.classList.add("hidden");
        });

        showModalBtnWizard.addEventListener("mouseout", function () {
            wizardText.classList.remove("hidden");
        });

        showModalBtnMuggle.addEventListener("mouseover", function () {
            muggleText.classList.add("hidden");
        });

        showModalBtnMuggle.addEventListener("mouseout", function () {
            muggleText.classList.remove("hidden");
        });
    });
        
    </script>
</body>
{% endblock content %}