{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply</title>
</head>
{% block content %}
<body>
    <h3>Reply untuk Main Thread dari {{ main_thread.title }}</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Post"/>
                </td>
            </tr>
        </table>
    </form>
</body>
{% endblock content %}
</html>